.menuToggleBtn {
    display: block;
    position: relative;
    width: $toggleAsideBtnWidth;
    height: $toggleAsideBtnWidth;
    padding: 0;

    span {
        height: $toggleAsideBtnStrength;
        width: 100%;
        background-color: $inverted;
        @include position(absolute, 50% 0 null null);
        margin-top: ($toggleAsideBtnStrength / -2);
        transition: all $hoverAnimation;

        &:before,
        &:after {
            content: ' ';
            display: block;
            @include position(absolute, null null null 0);
            height: $toggleAsideBtnStrength;
            width: 100%;
            background-color: $inverted;
            transition: all $hoverAnimation;
        }
        &:before {
            top: -$toggleAsideBtnLineSpace;
        }
        &:after {
            bottom: -$toggleAsideBtnLineSpace;
        }
    }

    &.cross {
        span {
            background: transparent;

            &:before,
            &:after {
                width: 80%;
            }

            &:before {
                top: 0;
                margin-bottom: ($toggleAsideBtnStrength / -2);
                transform: rotate(-45deg);
            }
            &:after {
                bottom: 0;
                margin-top: ($toggleAsideBtnStrength / -2);
                transform: rotate(45deg);
            }
        }
    }

    &.filter {
        $downSize: .3rem;
        width: $toggleAsideBtnWidth;
        border: solid transparent;
        border-width: 0 $downSize;

        span {
            &:before {
                left: -$downSize;
                width: calc(100% + #{$downSize + $downSize});
            }
            &:after {
                left: $downSize;
                width: calc(100% - #{$downSize + $downSize});
            }
        }

        &.cross {
            span {
                &:after {
                    left: -$downSize;
                    width: calc(100% + #{$downSize + $downSize});
                }
            }
        }
    }
}
