.mainNav {
    @include position(fixed, 0 0 null null);

    a {
        display: block;
        padding: $mainNavLinkPaddingY $mainNavLinkPaddingX;
        color: $inverted;
        letter-spacing: 1px;
        text-transform: uppercase;
        transform: translateZ(1px);
        font-weight: $fontWeightLight;
        font-size: $fontSizeLarge;

        &:hover,
        &:active,
        &.active {
            color: $primary;
        }
    }
}
