.mainNav {
    li {
        position: relative;
    }

    a {
        display: block;
        padding: $mainNavLinkPaddingY $mainNavLinkPaddingX;
        color: $inverted;
        letter-spacing: 1px;
        text-transform: uppercase;
        transform: translateZ(1px);
        font-weight: $fontWeightLight;
        font-size: $fontSizeLarge;

        &:hover,
        &:active,
        &.active {
            color: $primary;
        }
    }

    > ul {
        $border: 1px solid lighten($mainAsideBG, 20%);

        > li {
            border-bottom: $border;

            &:first-child {
                border-top: $border;
            }
        }
    }

    ul {
        ul {
            padding-bottom: $mainNavLinkPaddingY;
        }
    }

    div {
        a {
            padding: $smallSpace $mainNavLinkPaddingX $smallSpace $columnSpace;
            font-size: $fontSizeMedium;
        }
    }

    .toggleCollapseBtn {
        height: $mainNavLinkPaddingY + $mainNavLinkPaddingY + 1.15rem;
    }
}
