@keyframes floatTriangleOutline {
    0% {
        margin-top: 0;
        margin-left: 0;
    }
    50% {
        margin-top: -20px;
        margin-left: -10px;
    }
    100% {
        margin-top: 0;
        margin-left: 0;
    }
}

@keyframes floatTriangleStripes {
    0% {
        margin-top: 20px;
        margin-left: 0;
    }
    50% {
        margin-top: 40px;
        margin-left: 20px;
    }
    100% {
        margin-top: 20px;
        margin-left: 0;
    }
}

.mainTriangle {
    $s: 300px;
    @include position(fixed, 50% null null 50%);
    z-index: 50;
    transform: translate(-50%, -50%);
    width: $s;

    .h {
        position: relative;
        z-index: 5;
        display: block;
        color: #fff;
        font-size: 7rem;
        text-transform: uppercase;
        letter-spacing: -.14em;
        font-family: $fontFamilyHeadline;
        font-weight: 700;
        text-align: center;
        word-break: break-all;
        line-height: 5rem;
        margin: 0 auto;
    }

    .triangle {
        @include position(absolute, 0 null null 25px);
        width: $triangleSize;
        padding-bottom: ($triangleSize / 1.41421356237);
        overflow: hidden;
        box-sizing: content-box;
        transform: rotate(105deg);
        animation: 6s ease-in-out infinite;

        &:before {
            content: '';
            @include position(absolute, null null 0 0);
            @include square(100%);
            box-sizing: border-box;
            transform-origin: 0 100%;
            transform: rotate(45deg);
        }

        &,
        &:before {
            transition: all 600ms ease-out;
        }
    }

    .outline {
        z-index: 3;
        border-bottom: $triangleBorderSize solid $triangleBorderColor;
        border-right: $triangleBorderSize solid transparent;
        border-left: $triangleBorderSize solid transparent;
        //animation-name: floatTriangleOutline;

        &:before {
            border-top: $triangleBorderSize solid $triangleBorderColor;
            border-left: $triangleBorderSize solid $triangleBorderColor;
        }
    }

    .area {
        margin: 20px auto auto 30px;
        //animation-name: floatTriangleStripes;

        &:before {
            background: $triangleBgColor;
        }
    }

    @each $key in $panels {
        &.#{$key} {
            .triangle {
                transform: rotate(map-get($panelDeg, $key));
                top: map-get($panelPosTop, $key);
                left: map-get($panelPosLeft, $key);
            }

            .outline {
                $c: darken( map-get($panelBgColor, $key), 10%);
                border-bottom-color: $c;
                &:before {
                    border-top-color: $c;
                    border-left-color: $c;
                }
            }
            .area {
                $c: darken( map-get($panelBgColor, $key), 8%);
                &:before {
                    background: $c;
                }
            }
        }
    }

    &.home,
    &.skills {
        .h {
            width: 190px;
        }
    }

    &.work {
        .h {
            width: 170px;
        }
    }

    &.projects {
        .h {
            width: 260px;
        }
    }
}
