.pagePanel.home {
    svg {
        @include position(absolute, 50% null null 50%);
        width: 30%;
        transform: translate(-50%, -50%);
    }

    path {
        fill: map-get($panelColor, 'home');
    }

    h1 {
        text-indent: -.3rem;
        margin-bottom: 0;
    }

    h2 {
        margin-bottom: 2rem;
    }

    h2, p {
        padding-left: 1.2rem;
    }
}
