body {
    background: $bodyBg;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.app {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

main {
    @include position(fixed, 0 0 0 0);
    .scrollWrapper {
        margin-top: 0;
        transition: margin-top 600ms ease-in-out;
    }
}

.container {
    position: relative;
    z-index: 1;
    max-width: $pageMaxWidth;
    padding: 0 $pagePaddingY;
    width: 100%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

.hidden {
    display: none !important;
}


