body {
    background: $bodyBg;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.app {
    width: 100%;
    min-height: 100vh;
}

main {

}

.container {
    position: relative;
    z-index: 1;
    max-width: $pageMaxWidth;
    padding: 0 $pagePaddingY;
    width: 100%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

.hidden {
    display: none !important;
}


