.pagePanel {
    height: 100vh;
    display: flex;

    .col {
        flex: 0 0 50%
    }

    .mood {
        position: relative;
        z-index: 4;

        &:after {
            content: '';
        }
    }

    .bg {
        @include position(absolute, 0 0 0 0);
        background: center center transparent;
        background-size: cover;

        &:after {
            content: '';
            @include position(absolute, 0 0 0 0);
            background: transparent url('/img/css/line-texture.png') repeat 0/8px;
        }
    }


    @each $key in $panels {
        &.#{$key} {
            background: map-get($panelBgColor, $key);

            .mood {
                background: darken( map-get($panelBgColor, $key), 5%);
            }
        }
    }


}
