html,
body {
    -webkit-text-size-adjust: none;
}

body {
    font-family: $fontFamilyCopy;
    font-weight: $fontWeightDefault;
    line-height: 1;
    color: $fontColorDefault;
    font-size: $emFontSize;
}

main {
    font-size: $fontSizeDefault;
}

.ellipsis {
    @include ellipsis();
}

p {
    line-height: $lineHeightParagraph;
    margin-bottom: $textBottomSpace;

    &:last-child {
        margin-bottom: 0;
    }
}

a {
    color: $primary;
    text-decoration: none;
    transition: color $hoverAnimation, background $hoverAnimation, border $hoverAnimation;

    i {
        transition: color $hoverAnimation;
    }
}

small, .small {
    font-size: $fontSizeSmall;
}

.primary {
    color: $primary;
}


dl, ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

ul, ol {
    &.circle,
    &.disc,
    &.decimal {
        margin: 0 0 $textBottomSpace 20px;

        li {
            margin-bottom: $textBottomSpace / 2;
        }
    }

    &.circle {
        list-style: circle outside;
    }
    &.disc {
        list-style: disc outside;
    }
    &.decimal {
        list-style: decimal-leading-zero outside;
    }
}

