@font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 100;
    src: local('Kanit Thin'), local('Kanit-Thin'), url(/font/Kanit/Kanit-Thin.ttf) format('ttf');
}

@font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 300;
    src: local('Kanit Light'), local('Kanit-Light'), url(/font/Kanit/Kanit-Light.ttf) format('ttf');
}

//@font-face {
//    font-family: 'Kanit';
//    font-style: normal;
//    font-weight: 400;
//    src: local('Kanit'), local('Kanit-Regular'), url(/font/Kanit/Kanit-Regular.ttf) format('ttf');
//}

@font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 600;
    src: local('Kanit Medium'), local('Kanit-Medium'), url(/font/Kanit/Kanit-Medium.ttf) format('ttf');
}
@font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 600;
    src: local('Kanit Bold'), local('Kanit-Bold'), url(/font/Kanit/Kanit-Bold.ttf) format('ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans'), local('Open-Sans'), url(/font/OpenSans/OpenSans.ttf) format('ttf');
}
