// Colors
$primary: #449eff !default;
$secondary: #f21f96 !default;
$inverted: #fff !default;
$bodyBg: #f5f0ea !default;
$mainAsideBG: #343434 !default;

$greyDefault: #424242;
$greyLighter: lighten($greyDefault, 40%) !default;
$greyLight: lighten($greyDefault, 20%) !default;
$greyDark: darken($greyDefault, 30%) !default;

$boxShadow: 0 0 1rem rgba(0,0,0, .8);

//// FONTS
$fontFamilyCopy: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$fontFamilyHeadline: "Kanit", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$fontColorDefault: #f1f1f1;
$fontColorAlternate: #1e1e1e;
$lineHeightParagraph: 1.4;
$textBottomSpace: .6rem;

$fontWeightThin: 100 !default;
$fontWeightLight: 300 !default;
$fontWeightRegular: 400 !default;
$fontWeightMedium: 400 !default;
$fontWeightBold: 500 !default;
$fontWeightDefault: $fontWeightRegular;

$emFontSize: 16px;
$fontSizeDefault: .9rem;
$fontSizeSmall: .7rem;
$fontSizeLarge: 1.1rem;

////Animations
$hoverAnimation: 280ms ease-in;
$hoverAnimationAll: all $hoverAnimation;

////LAYOUT
$breakPointXXL: 1400px;
$breakPointXL: 1200px;
$breakPointL: 1024px;
$breakPointM: 768px;
$breakPointS: 650px;
$breakPointXS: 400px;

$breakPointMaxXXL: $breakPointXXL - 1;
$breakPointMaxXL: $breakPointXL - 1;
$breakPointMaxL: $breakPointL - 1;
$breakPointMaxM: $breakPointM - 1;
$breakPointMaxS: $breakPointS - 1;
$breakPointMaxXS: $breakPointXS - 1;

$breakPoints: (
    'xs': $breakPointXS,
    's': $breakPointS,
    'm': $breakPointM,
    'l': $breakPointL,
    'xl': $breakPointXL,
    'xxl': $breakPointXXL,
);

$pageMaxWidth: 2000px;
$pagePaddingY: 1rem;
$mainAsideWidth: 260px;

////Buttons
$btnBorderRadius: 0;
$btnBorder: none;
$btnPadding: .5rem;
$btnTransition: background-color $hoverAnimation, color $hoverAnimation;
$btnPaddingY: .4rem !default;
$btnPaddingX: .8rem !default;
$btnLineHeight: 1.25 !default;
$btnFontSize: $fontSizeDefault;
$btnDisabledOpacity: .8;
$btnDefaultColor: $inverted;
$btnDefaultBg: $primary;
$btnDefaultHoverBg: darken($primary, 10%);

$mainNavLinkPaddingY: .6rem;
$mainNavLinkPaddingX: .4rem;

$menuBtnWidth: 2rem;
$menuBtnStrength: 3px;
$menuBtnLineSpace: .5rem;
$menuBtnInner: .6rem;
$menuBtnColor: #fff;

////Triangles
$triangleSize: 340px;
$triangleBorderColor: #000;
$triangleBgColor: #000;
$triangleBorderSize: 4px;
$triangleStripeSize: 2px;
$triangleStripeColor: #000;

//Panels
$panels: (
    'home',
    'skills',
    'work',
    'education',
    'contact',
);

$panelBgColor: (
    'home': #009ff5,
    'skills': #00b4b1,
    'work': #243f93,
    'education': #70a53e,
    'contact': #b11f24,
);

$panelColor: (
    'home': #F9C193,
    'skills': #f9e093,
    'work': #f3896f,
    'education': #c2e8fb,
    'contact': #30f5a7,
);

$panelDeg: (
    'home': 180deg,
    'skills': 60deg,
    'work': 265deg,
    'education': 40deg,
    'contact': 105deg,
);

$panelPosTop: (
    'home': 0,
    'skills': -60px,
    'work': 20px,
    'education': -100px,
    'contact': 0,
);

$panelPosLeft: (
    'home': -20px,
    'skills': 25px,
    'work': -100px,
    'education': 40deg,
    'contact': 25px,
);
















