html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: $hrSize;
    background: $hrColor;
    border: 0;
    margin: $hrSpace;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

button {
    outline: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

/**
CUSTOM
**/
menu {
    margin: 0;
    padding: 0;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}


input[type="date" ],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"] {
    font-family: $fontFamilyDefault;
    -webkit-padding-start: 1px;
}

input, textarea, keygen, select, button {
    border-radius: 0;
    margin: 0;
}

fieldset {
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-before: 0;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;
    -webkit-padding-after: 0;
    min-width: 0;
}
